sudo: required

language: generic

# Run only on tagged branch
branches:
  only:
    - /^[0-9]/

services:
- docker

before_script:
- ./scripts/before_script.sh

script:
- ./scripts/build_img.sh
- TAG_NAME=${TRAVIS_TAG} ./scripts/deploy_zip.sh
